body {
  background-color: rgb(255, 255, 255);
}
.game {
  width: 100%;
}
.word {
  display: flex;
  justify-content: center;
}

.letter {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 3px;
  margin: 5px;
  color: aliceblue;
  padding-top: 20px;
}
